@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to me Test web app</h1>
    <p>Learn about <a href="https://github.com/SupDanil">MY GITHUB</a>.</p>
</div>
